
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="row">

    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">PDF</h4>



                <a href="/Pdf/ExportCustomersToPdf/" class="btn btn-success btn-icon-text ">
                    <span class="icon text-white">
                        <i class="mdi mdi-file-check btn-icon-prepend"></i>
                    </span>
                    <span class="text">Müşteriler için Pdf Tablosu oluştur</span>
                </a>
            </div>
        </div>
    </div>
</div>

