@model MongoDbNight.Dtos.ProductDtos.CreateProductDto

@{
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yeni Ürün ekleme</h4>
            <p class="card-description">Ekleme Paneli</p>
            <form method="post" enctype="multipart/form-data">
                <div class="container">
                    <br /><br />
                    <label>Ürün Adı</label>
                    <input type="text" asp-for="ProductName" class="form-control" />
                    <br />
                    <label>Ürün Stok</label>
                    <input type="text" asp-for="Stock" class="form-control" />
                    <br />
                    <label>Ürün Fiyat</label>
                    <input type="text" asp-for="Price" class="form-control" />
                    <br />
                    <label>Resim Seçin</label>
                    <input type="file" class="form-control border" name="ImageUrl" />
                    <br />
                    <input name="SavedUrl" type="hidden" class="form-control" />
                    <input name="SavedFileName" type="hidden" class="form-control" />
                    <br />
                    <label>Kategori Seçiniz</label>
                    @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.Categories, "Seçiniz...", new { @class = "form-control" })
                    <br />
                    <button type="submit" class="btn btn-primary">Ürünü Ekle</button>
                    <br /><br />
                </div>
            </form>
        </div>
    </div>
</div>
